body,
html {
	margin:0;
	padding:0;
	color:#000;
	background:#a7a09a;
}
#wrap {
	width:750px;
	margin:0 auto;
	background:#99c;
}
#header {
    	padding:5px 10px;
	background:#ddd;
}
h1 {
    margin:0;
    }
#nav {
	padding:5px 10px;
	background:#c99;
}
#nav ul {
	margin:0;
	padding:0;
	list-style:none;
}
#nav li {
	display:inline;
	margin:0;
	padding:0;
}
#queue {
	float:right;
	width:400px;
	padding:10px;
	background:#9c9;
}
h2 {
	margin:0 0 1em;
}
#sidebar {
	float:left;
	width:310px;
	padding:10px;
	background:#99c;
}
	#noscript {
		border: 4px solid red;
		background:#d99;
		font-size: 150%; 
		margin: 30px 30px;
		padding: 20px 20px;
		text-align: center;
	}

	.control {
		padding-left:30px;		
	 }
	.control input, .control a {
		border: 0px;
		width:30%;
		*float:right;
	}
	.control span {
		width:70%;
		float:left;
	}
	.control #new_task_button {
	  width:100%;
  		clear:both;
  		text-align:right;
	}
	#log { 
		clear:both; 
		padding:5px 10px; 
		background:#cc9; 
		position:relative;
		}

	#log li { margin-bottom:0.25em; list-style-type: none; font-size:60%; }

	#log_control {
		text-decoration:none;
		position:absolute;
		top:0px;
		right:0px;
		font-size:50%; 
	}
	* html #footer {
		height:1px;
	}

