	html, body {
	  height: 100%;
	  margin: 0;
	  padding: 0;
	  color:#000;
	  background:#a7a09a;
	}

	p {line-height: 100%;}
	ul, ol { margin-left: 1em; padding-left: 0px; }

	h1 { margin:0; }
	h2 { margin:0 0 1em; }
	h4 {margin:0px;}
	#log li { margin-bottom:0.25em; list-style-type: none; font-size:60%; }
	#wrap {
		width:750px;
		margin:0 auto;
		background:#99c;
	}
	#header {
	  	padding:5px 10px;
		background:#ddd;
	}
	
	#noscript {
		border: 4px solid red;
		background:#d99;
		font-size: 150%; 
		margin: 30px 30px;
		padding: 20px 20px;
		text-align: center;
	}

	
	#nav {
		padding:5px 10px;
		background:#c99;
	}
	#nav ul {
		margin:0;
		padding:0;
		list-style:none;
	}
	#nav li {
		display:inline;
		margin:0;
		padding:0;
	}
	#main {
		float:left;
		width:480px;
		padding:10px;
		background:#9c9;
	}
	#wrap_map_canvas {
		height:300px;
		width:478px;
	}
	#map_canvas {
	  height: 100%;
	  width:100%;
	  border: 1px solid blue;
	  background-color: yellow;
	}
	#sidebar {
		float:right;
		width:230px;
		padding:10px;
		background:#99c;
	}
	#map_controls {
		display:none;
	}
	
	#footer {
		clear:both;
		padding:5px 10px;
		background:#cc9;
		position:relative;
	}
	#log_control {
		text-decoration:none;
		position:absolute;
		top:0px;
		right:0px;
		font-size:50%; 
	}
	* html #footer {
		height:1px;
	}


/* Sortable tables */
table.sortable thead {
    font-weight: bold;
    cursor: default;
}
table.sortable {
      border: 1px solid black;
      width: 100%;
} 


@media print {
	  html, body {
		 height: auto;
	  }

	  #map_canvas {
		 height: 650px;
	  }

} // end @media print 
